<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.glicheck" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GUI.Main_Glicheck_Activity"
            android:label="@string/app_name" >

        </activity>
        <activity android:name=".GUI.Splash_Activity" >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity
            android:name=".GUI.Cad_Medicao_Gli_Activity"
            android:label="@string/title_activity_cad_med_gli" >
        </activity>
        <activity
            android:name=".GUI.RelatorioGlicemiaActivity"
            android:label="@string/title_activity_relatorio_glicemia" >
        </activity>
    </application>

</manifest>
